{% extends 'base.html.twig' %}

{% block metas %}
    {{ parent() }}
    <link rel="prefetch" href="{{ path('app_checkout') }}">
{% endblock %}

{% block body %}
    <div class="container-fluid container-xl mt-4">
        <div class="row">
            <aside class="col-12 col-md-4 order-2 order-md-1">
                <turbo-frame id="cart-sidebar"
                             src="{{ path('app_cart_product_featured') }}"
                             target="_top">
                    Loading...
                </turbo-frame>
            </aside>
            <div class="col-12 col-md-8 order-1 order-md-2 cart">
                <h1>Shopping Cart</h1>
                <div class="p-3"
                        {{ stimulus_controller('reload-content', {
                            url: path('_app_cart_list')
                        }) }}>
                    {{ include('cart/_cartList.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
