{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container" style="margin-top: 100px;">
        <div class="row">
            <div
                class="col-12 col-md-3 order-2 order-md-1 mt-4 mt-md-0 text-center"
                {{ stimulus_controller('featured-product-react', {
                    product: featuredProduct|serialize('json', { groups: 'product:read'})
                }) }}
            ></div>
            <div class="col order-1 order-md-2">
                <h1 class="mb-3">Create your account</h1>

                {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Password'
                    }) }}
                    {{ form_row(registrationForm.agreeTerms, {
                        label: 'I agree to these non-existent terms'
                    }) }}

                    <button class="btn btn-lg btn-primary" formnovalidate>Register</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block metas %}
    {{ parent() }}
    <meta name="turbo-cache-control" content="no-preview">
{% endblock %}
