<div {{ turbo_stream_listen('App\\Entity\\Review') }}></div>

{{ include('product/_reviews_list.html.twig') }}

<hr>

<turbo-frame id="product-reviews-form">

    {% for flash in app.flashes('review_success') %}
        {{ include('_toast.html.twig', {
            title: 'Success',
            body: flash
        }) }}
    {% endfor %}

    {% if reviewForm|default(false) %}
        <h4>Post your own review</h4>
        {{ form_start(reviewForm, {
            'action': path('app_product_reviews', { id: product.id })
        }) }}
        {{ form_row(reviewForm.stars) }}
        {{ form_row(reviewForm.content) }}
        <button class="btn btn-primary" formnovalidate>Add Review</button>
        {{ form_end(reviewForm) }}
    {% elseif not is_granted('ROLE_USER') %}
        <p><a href="{{ path('app_login') }}" data-turbo-frame="_top">Log in</a> to post your review</p>
    {% else %}
        <div class="alert alert-success">
            Thanks for your "real" review you "human" 😉!
        </div>
        <a href="{{ path('app_product_reviews', {
            id: product.id
        }) }}">Love the product *that* much? Add another review!</a>
    {% endif %}

</turbo-frame>
