<div class="component-light my-3 p-3"
     id="product-review-{{ review.id }}"
        {% if isNew|default(false) %}
            {{ stimulus_controller('streamed-item', {
                className: 'streamed-new-item'
            }) }}
        {% endif %}
        {% if isRemoved|default(false) %}
            {{ stimulus_controller('streamed-item', {
                className: 'streamed-removed-item',
                removeElement: true
            }) }}
        {% endif %}>
    <p>
        <i class="fas fa-user-circle me-2"></i>{{ review.owner.email }}
        <i class="fas fa-star ms-4"></i> {{ review.stars }}/5
    </p>
    <div>{{ review.content }}</div>
</div>
