{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <div class="container-fluid container-xl mt-4">
        <div class="d-flex flex-row">
            <h1 class="me-3 mb-4">Product index</h1>
            <div {{ stimulus_controller('modal-form') }}>
                <button class="btn btn-primary btn-sm"
                        data-action="modal-form#openModal">
                    + Add new product
                </button>
                {{ include('_modal.html.twig', {
                    id: 'product-info',
                    modalSrc: path('product_admin_new'),
                    modalTitle: 'Add a new Product'
                }) }}
            </div>
        </div>
        <div class="table-responsive">
            {{ include('product_admin/_list.html.twig') }}
        </div>
        <a href="{{ path('product_admin_new') }}">Add a new product</a>
    </div>
{% endblock %}
