{% extends 'base.html.twig' %}

{% block title %}New Product{% endblock %}

{% block body %}
    <div class="container mt-4">
        <a href="{{ path('product_admin_index') }}"><i class="fas fa-caret-left"></i> Back to list</a>
        <h1 class="mt-3">Create new Product</h1>
        <turbo-frame id="product-info" target="_top">
            {{ include('product_admin/_form.html.twig') }}
        </turbo-frame>
    </div>
{% endblock %}
