<div class="modal fade"
     tabindex="-1"
     aria-hidden="true"
     data-modal-form-target="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ modalTitle }}</h5>
                <button type="button" class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <turbo-frame class="modal-body"
                         src="{{ modalSrc }}"
                         id="{{ id }}"
                         loading="lazy"
                         data-turbo-form-redirect="true">
                {{ modalContent|default('Loading...') }}
            </turbo-frame>
        </div>
    </div>
</div>
