<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}MVP Office Supplies{% endblock %}</title>
    {% block metas %}{% endblock %}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<div class="page-top">
    <header class="header px-2">
        <nav class="navbar navbar-expand-lg navbar-dark justify-content-between">
            <a class="navbar-brand" href="/">
                <img src="{{ asset('images/mvp-logo-light.png' ) }}"
                     width="50"
                     height="50"
                     alt="MVP Office Supplies Logo"
                     id="logo-img">
                <span class="p-3">MVP Office Supplies</span>
            </a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_weather') }}">
                        <span class="fas fa-sun"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_cart') }}">
                        Shopping Cart ({{ count_cart_items() }})
                    </a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('product_admin_index') }}">
                            Admin
                        </a>
                    </li>
                {% endif %}
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}">
                            Log out
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}">
                            Log in
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_register') }}">
                            Register
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <div id="flash-container" data-turbo-cache="false">
        {% for flash in app.session.flashBag.get('success') %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ flash }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
        {% endfor %}
    </div>
</div>
{% block body %}{% endblock %}
<div class="footer mb-0"{{ stimulus_controller('made-with-love') }}>
</div>
{% block weather_widget %}
    <turbo-frame id="weather_widget"
                 src="{{ path('app_weather') }}"
                 loading="lazy"></turbo-frame>
{% endblock %}
<script>
  document.getElementById('logo-img').addEventListener('click', event => {
    event.preventDefault()
    Turbo.visit('/cart')
  })
</script>
<div id="toast-container" class="toast-container position-fixed top-0 end-0 p-3"></div>
</body>
</html>
