{% extends 'base.html.twig' %}

{% block body %}
    <h1>The Weather!</h1>
    <turbo-frame id="weather_widget">
        <a class="weatherwidget-io"
           data-controller="weather-widget"
           href="https://forecast7.com/en/40d71n74d01/new-york/"
           data-label_1="NEW YORK"
           data-label_2="WEATHER"
           data-theme="original">
            NEW YORK WEATHER
        </a>
    </turbo-frame>
{% endblock %}

{% block weather_widget %}{% endblock %}
